<div class="row banner-contact">
  <div class="col-xs-4">
    <%= image_tag("logo.png", height: '80', class: 'logo') %>
    <h1 class="lead">上海合気道秋风馆</h1>
    <h4 class="lead-2">Shanghai Aikido SyuFu Kan</h4>
  </div>
  <div class="col-xs-8 home-right">
    <div class="bg-navbar">
      <%= render 'layouts/navbar' %>
    </div>
  </div>
  <div class="row banner-text">
    <div class="col-xs-12">
      <h1 class="text-center">联系我们</h1>
      <h4 class="text-center">Contact</h4>
    </div>
  </div>
</div>

<div class="row about-content">
  <div class="container">
    <div class="col-xs-12">
     <div class="page-header">
        <h1 class="lead">上海合气道秋风馆道场</h1>
      </div>
      <div>
        <h4>邮   箱：info@aki-aikido.com</h4>
        <h4>电   话: ＋86 18621904074</h4>
        <h4>电   话: ＋86 13004103577</h4>
        <h4>Q    Q：288987077</h4>
      </div>
    </div>
    <hr>
    <div class="col-md-6">
      <h2 class="lead">巨峰路道场</h2>
      <h4 class="lead-2">地    址：上海市浦东新区乐林路133号(杨高北路巨峰路口通昌羽毛球馆二楼，麒龍搏击跆拳道馆 )</h4>
      <%= image_tag 'jfdojo.png', width: '430', class: "img-thumbnail" %>
    </div>
    <div class="col-md-6">
      <h2 class="lead">隆昌路道场</h2>
      <h4 class="lead-2">地    址：上海市杨浦区隆昌路586号(七巧国商场3楼明翼舞蹈)</h4>
      <%= image_tag 'lcdojo.png', width: '430', class: "img-thumbnail" %>
    </div>
    <div class="col-md-6">
      <h2 class="lead">宁国路道场</h2>
      <h4 class="lead-2">地    址：上海市杨浦龙口路29弄7号1楼(魔方公寓宁国路店)</h4>
      <%= image_tag 'ngdojo.png', width: '430', class: "img-thumbnail" %>
    </div>
  </div>
</div>

<%= render 'static_pages/footer' %>