<div class="row banner-infos">
  <div class="col-xs-4">
    <%= image_tag("logo.png", height: '80', class: 'logo') %>
    <h1 class="lead">和心会 · 上海合気道秋风馆</h1>
    <h4 class="lead-2">Washinkai Shanghai Aikido SyuFu Kan</h4>
  </div>
  <div class="col-xs-8 home-right">
    <div class="bg-navbar">
      <%= render 'layouts/navbar' %>
    </div>
  </div>
  <div class="row banner-text">
    <div class="col-xs-12">
      <h1 class="text-center">道场新闻</h1>
      <h4 class="text-center">News</h4>
    </div>
  </div>
</div>

<div class="row news">
  <div class="col-xs-8 col-xs-offset-2">
  	<div class="page-header">
		  <h2>最新新闻</h2>
		</div>
  	<ul class="list-unstyled news-list">
  		<% @infos.each do |info| %>
		  <li>
		  	<h3 class="lead"><%= link_to info.title, info_path(info) %></h3>
		  	<p><%= truncate(simple_format(info.content), escape: false, length: 100) %></p>
				<p class="news-time"><%= info.created_at.strftime('%Y-%m-%d') %></p>
		  </li>
		  <% end %>
		</ul>

		<%#= will_paginate %>
  </div>
</div>
