<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "HOME", root_path %></li>
        <li><%= link_to "道场介绍", about_path %></li>
        <li><%= link_to "入会案内", price_path %></li>
        <li><%= link_to "道场资讯", infos_path %></li>
        <li><%= link_to "联系我们", contact_path %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "申请体验!", "#" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>