<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="description" content="上海合气道秋风馆成立于2015年8月，由一群志同道合的合气道练习者共同发起，为的是进行纯粹的合气道练习。我们保持开放积极的心态，鼓励与外界其他道场的交流学习，努力推进合气道在中国的普及，使合气道被越来越多的国人所了解和喜爱。">
    
    <meta name="keywords" content="上海合气道,合气道,Shanghai Aikido,aikido,武术,日本武术,防身术,女子防身">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
